@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

.overview {
    display: flex;
    flex-direction: column;
    width: 1152px;
    height: 240px;
    gap: 24px;
}

.overview-header {
    display: flex;
    width: 1152px;
    height: 36px;
    justify-content: space-between;
}

.overview-header p {
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.overview-header div {
    width: 137px;
    height: 36px;
}

.overview-header select {
    width: 137px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Galano Grotesque', sans-serif;
}

.overview-tabs {
    display: flex;
    width: 1152px;
    height: 154px;
    gap: 20px;
}


.overview-payout {
    width: 370px;
    height: 170px;
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px #1A181E0A;
    background: #146EB4;

}

.overview-lightpayout {
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    gap: 16px;
    justify-content: space-between;
}

.overview-lightpayout div {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 78px;
    gap: 16px;
}

.overview-lightpayout div div:first-child {
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
}

.overview-lightpayout div div:last-child {
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    width: 330px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
    align-items: center;
}

.overview-lightpayout div a {
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
}

.overview-darkpayout {
    position: absolute;
    left: 16px;
    width: 362px;
    display: flex;
    height: 36px;
    padding: 8px 24px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.overview-darkpayout:hover {
    background-color: #0E4F82;
}

.overview-darkpayout p {
    font-family: 'Galano Grotesque', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    font-size: 14px;
    color: #fff;
}

.overview-darkpayout p:first-child {
    font-weight: 400;
    line-height: 20px;
}

.overview-darkpayout p:last-child {
    font-weight: 500;
    line-height: 20px;
}

.overview-pending {
    box-shadow: 0px 2px 6px 0px #1A181E0A;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    width: 370px;
    height: 118px;
    gap: 24px;
}

.overview-lightpending {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 118px;
    padding: 20px;
    border-radius: 8px;
    gap: 16px;
}

.overview-lightpending div {
    width: 330.67px;
    height: 78px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.overview-lightpending div div:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview-lightpending div div:last-child {
    width: 330px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overview-lightpending div div:first-child p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.overview-lightpending div div:last-child p {
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.overview-lightpending div a {
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #146EB4;
    display: flex;
    align-items: center;
}
.overview-lightpending div a p{
    font-size: 16px !important;
}


.overview-processed {
    box-shadow: 0px 2px 6px 0px #1A181E0A;
    width: 370.67px;
    height: 118px;
    gap: 24px;
    display: flex;
    background-color: #fff;
}

.overview-lightprocessed {
    width: 370px;
    height: 118px;
    padding: 20px;
    border-radius: 8px;
    gap: 16px;
    display: flex;
}

.overview-lightprocessed div {
    width: 330px;
    height: 78px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.overview-lightprocessed div div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview-lightprocessed div p:first-child {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.overview-lightprocessed div div:last-child p:last-child {
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}